[env]
PORT = "8080"
HEALTHCHECK_ENABLED = "true"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls"]
    port = 443

  [[services.http_checks]]
    path = "/"
    interval = "30s"
    timeout = "5s"
    method = "get"
    protocol = "http"
